<div class="container mb-3">
    <h1 class="text-center"><img id="doll" src="../../assets/images/doll.png" alt="baba">Jigsaw Rémálom Szabadulószoba
    </h1>
    <img class="mb-3" id="cover" src="../../assets/images/the-lobby-at-jigsaw-escape.jpg" alt="">
    <h2>Üdvözöljük a Jigsaw Rémálom Szabadulószobájában!</h2>
    <h5 class="mb-3">
        Fedezd fel a félelmetes és lenyűgöző világot a "Jigsaw" című film inspirálta szabadulószobáinkban!
        Professzionális horror élmények várnak rád, élethű effektekkel és hátborzongató környezettel. Merülj el
        a
        film atmoszférájában, ahol minden sarokban egy újabb rejtély vár megoldásra. A Jigsaw Rémálom
        Szabadulószobájában a részletek és a valósághű effektek találkoznak, hogy elhozzanak egy különleges és izgalmas
        élményt.Csapdába ejtünk egy olyan világban, ahol a választ csak a bátorságoddal találhatod meg. Készen
        állsz az élő
        horror kihívásra? Gyűjtsd össze barátaidat és szállj szembe a Jigsaw Rémálom Szabadulószobájának
        kihívásaival!Éld át a feszültséget, a rejtélyeket és a félelmet a valaha is létezett leghátborzongatóbb
        szabadulószobáinkban!Hajrá, fedezd fel az ismeretlen és bizonyítsd meg, hogy a félelem nem ismer határokat!
    </h5>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Foglalások listázása</h5>
                    <p class="card-text">Itt megtekintheti a már lefoglalt szabadulószobáinkat.</p> <a
                        class="btn btn-danger" routerLink="foglalasok">Indulok</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Új foglalás felvétele</h5>
                    <p class="card-text">Itt adhat hozzá új szoba foglalást.</p>
                    <a class="btn btn-danger" routerLink="ujfoglalas">Indulok</a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-3">Szabadulószobáink Nehézségi Fokai</h2>
    <br>
    <h4>
        A Jigsaw Rémálom Szabadulószobája kínál egyedi kihívásokat minden szinten, így mindenki megtalálja a számára
        legmegfelelőbb élményt. Kezdőktől a profikig, mindenki számára elérhetőek vagyunk!
    </h4>
    <br>
    <h3>Kezdők</h3>
    <p>Ha most ismerkedsz a szabadulószobák világával, ne aggódj! Kezdőként is megtalálod a számodra tökéletes
        kihívást. A könnyű rejtélyek, logikai feladványok és segítőkész játékmesterünk segít abban, hogy belemerülj a
        szabadulószobák izgalmas világába.</p>
    <h3>Tapasztalt Szabadulók</h3>
    <p>Azok számára, akik már néhány szabadulószobát megoldottak, kínálunk középhaladó nehézségű szobákat is. Itt már
        összetettebb rejtélyek, kifinomultabb kulisszatér és újabb izgalmas kihívások várnak rád.</p>
    <h3>Profi Szabadulók</h3>
    <p>Ha a szabadulók világának veteránja vagy, próbáld ki a profi szintű szobáinkat! Ezek a különlegesen nehéz
        rejtélyek és élethű effektek a legprofibb játékosoknak készültek. Csapatod összehangolásán és a gyors
        gondolkodásán
        dől el a sikeretek kulcsa. <br><br>
        Minden nehézségi szinten garantált a borzongás és az élvezetes kihívásokkal teli szórakozás. Válassz
        bátorságodnak és jártasságodnak megfelelő szobát, és indulj el egy felejthetetlen szabadulószoba-élmény felé!
    </p>
</div>