<div class="container">
    <h1><img id="doll" src="../../assets/images/doll.png" alt="baba">Saw Room</h1>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lefoglalt Szobáink</h5>
                    <p class="card-text">Itt megtekintheti a már lefoglalt szabadulószobáinkat.</p> <a
                        class="btn btn-primary" routerLink="foglalasok">Indulok</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Új foglalás</h5>
                    <p class="card-text">Itt adhat hozzá új szoba foglalást.</p>
                    <a class="btn btn-primary" routerLink="ujfoglalas">Indulok</a>
                </div>
            </div>
        </div>
    </div>
</div>